@import url("./SideBar/SideBar.css");
@import url("./basic/basic.css");
@import url("./media/media.css");

:root{

	--font: 'Poppins', sans-serif;
}

.container__left{
	max-width: 230px
	margin:0px auto;
}
.container__right{
	max-width: 1070px
	margin:0px auto;
}
body{
	font-weight: 500;
	font-size: 14px;
	font-family: var(--font);
	background-color: #f9faff

}
.row{
	display: flex;
}
@media(max-width: 1225px){
	.row{
		display: block;
	}
}

